ul.movementUrgency-list {
    list-style: none;
    display: grid;
    grid-gap: 20px;
    margin-bottom: 20px;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    align-items: center;
}

#textDevolution {
    font-size: 25px;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    color: #2B676F;
    margin-top: -10px;
}

ul.movementUrgency-list li {
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 241, 241);
    padding: 20px;
    border-radius: 10px;
    color: #42838c;
    margin-left: -35px;
}

ul.movementUrgency-list li span {
    font-weight: bold;
    font-size: 25px;
    color: #2a2a2a;
    margin-top: 1px;
    margin-bottom: 10px;
}

#btnDevolution {
    font-size: 20px;
    height: auto;
    padding: 15px;
    width: 50%;
    margin-left: 25%;
    margin-top: 35px;
    margin-bottom: 15px;
}

#btnDevolutionFinal {
    font-size: 20px;
    height: auto;
    padding: 15px;
    width: 50%;
    margin-top: 35px;
    margin-bottom: 15px;
}